<li class="list-group-item post" [ngStyle]="{backgroundColor:getColor()}">

<div class="container">
    <strong> {{title}}</strong>
    <p> {{content}}  </p>
        <span class="text-right"> {{created_at | date:'short'}}</span>
        <span> nombre de like : {{loveIts}}</span>

    <button class="btn btn-success" (click)="upLoveIts()">Love it</button>
    <button class="btn btn-danger" (click)="downLoveIts()"> Down it</button>
    <button *ngIf="id" class="btn btn-danger" (click)="deletePost(id)"> Supprimer</button>
</div>
</li>
